name: Sincronizar com o Hub do Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  Sincronizar-com-o-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
          
      # 1. PASSO DE CONFIGURAÇÃO: Configura o "remote" para usar o token.
      - name: Configurar Credenciais do Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Define a URL do 'origin' para incluir o token para autenticação
          git remote set-url origin https://Helio00:$HF_TOKEN@huggingface.co/spaces/Helio00/Classificador_de_Emalis
          
      # 2. SINCRONIZAÇÃO: Puxa (pull) as alterações, resolvendo a divergência com --rebase.
      - name: Sincronizar localmente com o Hub
        run: git pull origin main --rebase --allow-unrelated-histories

      # 3. ENVIO: Envia o código atualizado
      - name: Enviar para o Hub
        run: git push origin main
