name: Sync to Hugging Face hub

on:
  push:
    branches: [main]
  # Para permitir a execução manual a partir da aba Actions
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # Necessário para arquivos grandes de ML
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://Helio00:$HF_TOKEN@huggingface.co/spaces/Helio00/Classificador_de_Emalis main
